*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #F775C1;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.container{
  background-color: white;
  width: 500px;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}



h3{
  margin-top: 20px;
}
button{
  margin-top: 25px;
  width: 98%;
  padding: 5px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right,#a53275,#F775C1);
  color: white;
}
img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.person{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text{
  margin-top: 10px;
  font-size: smaller;
}

h1{
  font-size: 15px;
  padding: 7px;
  color: white;
}

@media  (max-width:510px) { 
        .container{
          width: 300px;
        }
}